@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .connect_button {
    color: theme("colors.pink-900");
    background-color: theme("colors.pink-100");
    font-weight: theme("fontWeight.semibold");
  }

  .select_button {
    color: theme("colors.white");
    background-color: theme("colors.pink-900");
    font-weight: theme("fontWeight.semibold");
    @apply text-[20px];
  }

  .flex_between {
    @apply flex justify-between;
  }

  .flex_direction_col {
    @apply flex flex-col;
  }

  .basic_border {
    @apply border border-solid;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
